<ion-header>

  <ion-navbar>
    <ion-title>Book List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="books">
        <ion-item  text-wrap *ngFor="let book of books">
          <ion-thumbnail item-start>
            <img src='{{ book.thumbnailUrl }}'>
          </ion-thumbnail>
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }}</p>
          <p>{{ book.publishedDate|date:'dd/ww/yyy' }}</p>
          <button ion-button clear item-end (click)="showBook(book.bookid)">
            <ion-icon name="list-box"></ion-icon>&nbsp;         
            View   
          </button>
        </ion-item>        
      </ion-list>
      <button ion-button full color="dark" (click)="goBack()">
          Back
        </button>
</ion-content>